html{box-sizing: border-box;}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: linear-gradient(260deg, #980606 0%, #00273d 100%);

}

#margen{
    color: #fff;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background: rgba(0, 121, 192, 0.563);
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}

#margen:hover{
    background: #be00003f;
}

#img1{width: 100%;}

#toogleNav{display: none;}

#contenedor{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
}

input{
    padding: 10px;
    border: 0;
}

.info0{
    text-align: center;
    /*background: rgba(21, 21, 21, 0.475);*/
    padding: 10px;
    margin: 10px 0;
    color: #fff;
    font-weight: 100;
}

.info{
    text-align: center;
    background: rgba(21, 21, 21, 0.475);
    padding: 10px;
    margin: 10px 0;
    color: #fff;
    font-weight: 100;
}

.info2{
    text-align: center;
    /*background: rgba(21, 21, 21, 0.475);*/
    padding: 10px;
    margin: 10px 0;
    color: #fff;
    font-weight: 100;
    
}

.galeria{
    display: flex;
    width: 600px;
    height: 430px;
}

.galeria img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    
}

.galeria img:hover{
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
    transition: 0.5s; 
}
    

.info2{
    padding: 0 250px;
    top: 1200px;
    left: 140px;
    color: #fff;
    font-weight: 1;
    float: left;
}

#categoria3{
    text-align: center;
    background: rgba(21, 21, 21, 0.475);
    padding: 10px;
    margin: 10px 0;
  
    font-weight: 100;
}

#position1{
    position: relative;
    left: 0px;
}

#position2{
    position: relative;
    left: 100px;
}

#position3{
    position: relative;
    
   
    left: 200px;
}



#flex-nav ul{
    border: 1px solid #000;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#flex-nav li{
    flex: 3;
}

/*---------------------------------------------*/

@media all and (max-width:1000px){
    #flex-nav ul{flex-wrap: wrap;}

    #flex-nav li{ flex: 1 1 50%;}
}

@media all and (max-width:500px){
    #contenedor{
        display: flex;
        flex-direction: column;
    }

    #contenedor > * {order: 999;}

    #flex-nav{order: 1;}
    #toogleNav{display: block;}
    #flex-nav ul{display: none;}

    #flex-nav ul.open{display: flex;}

    #info{order: 3;}
    .registro{order: 4;}
}

#redes h3{
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

#sociales{
    width: 350px; text-align: center;
}

#sociales li{
    display: inline-block;
}

ul{
    margin: auto; 
    list-style: none;
}



/*-------------------------------CARRUSEL-----------------------------------------------*/




.slider-box{
    width: 950px;
  
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-box ul{
    position: relative;
    display: flex;
    padding: 0;
    width: 500%;
    animation: 5s slide infinite;

}

.slider-box li{
    width: 100%;
    list-style: none;
    

    float: left;

}

@keyframes slide {
    0% {left: 0;}
    20% {left: 0;}

    25% {left: -100;}
    45% {left: -100;}

    50% {left: -200;}
    70% {left: -200;}

    75% {left: -300;}
    100% {left: -300;}
}



/*------------------------------------------CARRUSEL 2----------------------------------*/


.container-all{
    position: relative;
    max-width: 600px;
    width: 100%;
    overflow: hidden;
}

.slide{
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagina{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.pagina-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #fff;
    width: 16px;
    height: 16px;
    overflow: hidden;
    cursor: pointer;
    background: #f06;
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagina-item:hover{
    transform: scale(2);
    
}

.pagina-item img{
    display: inline-block;
    max-width: none;
    height: 100%;

    transform: scale(10);
    opacity: 0;
    transition: all 300ms;

}

input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0,0);
}

input[id="1"]:checked ~ .pagina .pagina-item[for="1"]{
    background: whitesmoke;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0,0);
}

input[id="2"]:checked ~ .pagina .pagina-item[for="2"]{
    background: whitesmoke;
}

input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0,0);
}

input[id="3"]:checked ~ .pagina .pagina-item[for="3"]{
    background: whitesmoke;
}

input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 3), 0,0);
}

input[id="4"]:checked ~ .pagina .pagina-item[for="4"]{
    background: whitesmoke;
}

input[id="5"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 4), 0,0);
}

input[id="5"]:checked ~ .pagina .pagina-item[for="5"]{
    background: whitesmoke;
}

@keyframes autoplay{
    20%{transform: translate3d(calc(-100% * 0), 0,0);}
    40%{transform: translate3d(calc(-100% * 1), 0,0);}
    60%{transform: translate3d(calc(-100% * 2), 0,0);}
    80%{transform: translate3d(calc(-100% * 3), 0,0);}
    100%{transform: translate3d(calc(-100% * 4), 0,0);}
}


